{% if errors is not empty %}
	<ul class="p-0 d-flex flex-column alert alert-danger list-unstyled" role="alert">
		{% for error in errors %}

			<li class="p-2 my-1 w-75">{{ error }}</li>

		{% endfor %}
	</ul>
{% endif %}

<form class="w-75" method="POST">
	<div class="form-group my-2">
		<label for="name">Nom de l'association :</label>
		<input name="name" type="text" class="form-control" id="name" aria-describedby="Nom de l'association" value="{% if association.name is defined %}{{association.name}}{% endif %}" required/>

	</div>

	<div class="form-group my-2">
		<label for="category">Categorie :</label>
		<select id="category" name="category" class="form-select" aria-label="Default select">
			{% for category in categories %}
				<option value="{{ category.id }}" {% if category.id is same as association.category_id %} selected {% endif %}>{{category.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="form-group my-2">
		<label for="description">Description :</label>
		<textarea name="description" class="form-control" id="description" aria-describedby="Description de l'association" rows="3" required>
			{%- if association.description is defined -%}
				{{association.description}}
			{%- endif -%}
		</textarea>
	</div>

	<div class="form-group my-2">
		<label for="phone_number">Numero pour l'association :</label>
		<input type="tel" id="phone_number" name="phone_number" placeholder="022233445566" class="form-control" value="{%- if association.phone_number is defined -%}{{ association.phone_number }}{%- endif -%}" required>
	</div>

	<button type="submit" class="btn bg-primary text-secondary p-2 mt-3">Soumettre</button>

</form>
