{% extends 'layout_admin.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/association.css">
{% endblock %}

{% block sidebar %}
    {% set sideNav = [
            {
                'title' : 'Admin', 
                'link' : '/admin'
            },
            {
                'title' : 'Association', 
                'link' : '/admin/association'
            }
        ]      
    %}
 {% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}

<a href="/admin/association/ajouter" class="btn bg-primary text-secondary mb-4 p-3">Ajouter une association</a>

<section class="p-2 p-lg-5">

	<h1 class="title mb-3">Toutes vos associations :</h3>
	<hr class="w-100 mb-5">
	<div class="d-flex flex-wrap gap-3">
		{% for association in associations %}

			<div class="association-card-admin d-flex justify-content-between flex-column">

				<div class="card-content p-4">
					<div class="card-title d-flex justify-content-evenly align-items-center p-3">
						<img class="card-img p-2" src="{{ association.image }}">
						<h3 class="text-center fs-4 p-0">{{ association.associationName }}</h3>
					</div>

					<div class="d-flex flex-column">
						<h5 class="fs-5">{{ association.categoryName }}</h5>
						<p class="">{{ association.description }}</p>
					</div>
				</div>

				<div class="d-flex justify-content-center w-100">
					<button type="button" class="btn bg-primary w-100 p-2">
						<img class="association-img-phone bg-primary" src="../assets/images/association_images/telephon.png" alt="Telephone"/>
						<span class="text-secondary">{{ association.phone_number }}</span>
					</button>
				</div>
			</div>

		{% endfor %}
	</div>
</section>

{% endblock %}