<section class="association">

	<div class="container-fluid wrap">

		<h1 class="title mb-3">Annuaire des association</h3>
		<hr class="w-100 mb-5">

		{% for association in associations %}
		<div class="container justify-center">
			<div class="card m-3">
				<div class="row justify-center">
					<div class="col-sm-3 mt-5 ms-4">
						<img card="card" src="{{ association.image }}" width="80px" height="80px">
						<h5 class="card-text mt-5">{{ association.categoryName }}</h5>
					</div>
					<div class="col-md-8">
						<h3 class="card-text mt-5">{{ association.associationName }}</h3>
						<hr class="w-100">
						<p class="card-text mt-5">{{ association.description }}</p>
						<div class="d-flex justify-content-end">
							<h3><button type="button" class="btn btn-outline-primary mt-1 mb-3">
							<img class="btn-outline-primary m-1" src="assets/images/association_images/telephon.png" alt="Telephone" width="20px" height="20px"/>
							{{ association.phone_number }}
							</button></h3>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endfor %}

</div></section>
